html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Text + bttn */
.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.subaccent-text {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #1B1D1F;
}

.header-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F
}

.launch-bttn {
    background: #007AFF;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    /* outline: none; */
    cursor: pointer;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
/* Main page */
.main-page {
    background: linear-gradient(180deg, #0019FF 0%, #FAFF00 98.18%);
}

.logo {
    margin: 32px 0 60px 0;
}

.main-page-text-container {
    background: #FFFFFF;
    border-radius: 40px;
    padding: 60px;
}

/* main page text+bttn */
.submain-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;

    margin: 0 0 60px;
}

.main-gus-text {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;

    margin: 0 0;
}

.main-gus-descr {
    margin: 24 0 32;
}

/* Info page */
.info-page {
    padding: 48px 0 100px;
    text-align: center;
}

.info-title {
    margin-top: 24px;
}

.info-descr {
    width: 772px;
    margin: auto;
    margin-bottom: 24px;
}

.gus-title {
    margin: 8px 0 32px;
}

.gus-descr {
    width: 374px;
}

/* Launch page */
.launch-page {
    padding: 80px 0;
    background: linear-gradient(180deg, #0019FF 0%, #FAFF00 98.18%);
}

.launch-form-container {
    background: #FFFFFF;
    border-radius: 40px;
    padding: 32px 60px 60px;
    width: 573px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.form-title {
    margin: 32px 0 12px;
}

.form-descr {
    margin-bottom: 24px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}

.form-field-lable {
    margin-bottom: 8px;
}

.form-field-input {
    height: 60px;
    width: 453px;
    border: 1px solid #005BBB;
    border-radius: 8px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.form-field-email {
    margin-bottom: 48px;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}